## Research question/interests

My Interests are surrounding the growth of tourism in BC, as I live in Kelowna which is a tourist hotspot in BC, and would like to see where growth trends are heading. I am curious where are the majority of BCs tourists coming from: domestically or out-of-province? As well as, what is BCs overall tourism growth rate from 2014-2017 compared to Canada’s?

In [54]:
import pandas as pd 
df1 = pd.read_csv("../data/raw/tourism.csv")
df1

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,2016A000262,Tourism product ratio,Total other products,Percentage,242,millions,6,v1001805466,14.10.28,0.2,NaN,NaN,NaN,1
8956,2017,Nunavut,2016A000262,Tourism product ratio,Groceries,Percentage,242,millions,6,v1001805467,14.10.29,8.4,NaN,NaN,NaN,1
8957,2017,Nunavut,2016A000262,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,6,v1001805468,14.10.30,9.0,NaN,NaN,NaN,1
8958,2017,Nunavut,2016A000262,Tourism product ratio,Urban transit and parking,Percentage,242,millions,6,v1001805469,14.10.31,NaN,..,NaN,NaN,1
8959,2017,Nunavut,2016A000262,Tourism product ratio,Miscellaneous products,Percentage,242,millions,6,v1001805470,14.10.32,0.0,NaN,NaN,NaN,1

## Milestone 3 - Data Analysis

### TASK 1 - Exploratory Data Analysis

In [57]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [55]:
#summary stats table for df
df1.describe().T

,count,mean,std,min,25%,50%,75%,max
REF_DATE,8960.0,2015.500000,1.500084,2014.0,2014.0,2015.5,2017.0,2017.0
UOM_ID,8960.0,97.100000,48.302696,81.0,81.0,81.0,81.0,242.0
SCALAR_ID,8960.0,6.000000,0.000000,6.0,6.0,6.0,6.0,6.0
VALUE,7521.0,6809.351509,112809.280902,0.0,5.6,37.9,239.6,3910989.7
SYMBOL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TERMINATED,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DECIMALS,8960.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0

In [ ]:
#exploring the number of rows and columns - I will need to get rid of many rows for my research question
df.shape

(8960, 16)

In [ ]:
#viewing first five rows/ I will also want to change heading names them easier to understand
df.head()

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1

In [ ]:
#viewing names of all the columns and realising there are many columns to get rid of in cleaning

In [59]:
#This function helps me determine that of my 16 rows, 3= floats(decimal integer) int(whole numbers) = 4, and object rows (usually word variables) = 9
#It also shows me columns 13/14 have all null values and can deleted. I can also try to remove missing some missing values in row 11/12
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8960 entries, 0 to 8959
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       8960 non-null   int64
 1   GEO            8960 non-null   object
 2   DGUID          8960 non-null   object
 3   Indicators     8960 non-null   object
 4   Products       8960 non-null   object
 5   UOM            8960 non-null   object
 6   UOM_ID         8960 non-null   int64
 7   SCALAR_FACTOR  8960 non-null   object
 8   SCALAR_ID      8960 non-null   int64
 9   VECTOR         8960 non-null   object
 10  COORDINATE     8960 non-null   object
 11  VALUE          7521 non-null   float64
 12  STATUS         1439 non-null   object
 13  SYMBOL         0 non-null      float64
 14  TERMINATED     0 non-null      float64
 15  DECIMALS       8960 non-null   int64
dtypes: float64(3), int64(4), object(9)
memory usage: 1.1+ MB

In [60]:
#Checking if there are any duplicates of Data to be cleaned
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df1[df1.duplicated()]))
    print(df1[df1.duplicated(keep=False)].sort_values(by=list(df1.columns)).head())
else:
    print("No duplicated entries found")

No duplicated entries found

In [52]:

#get counts of each variable value - From here I have list of the possible expenditures in the Products Column
#My research question only focuses on Total tourism expenditures and products rows
df1.Products.value_counts()

Total tourism expenditures                                     280
Total tourism products                                         280
Urban transit and parking                                      280
Beer, wine, and liquor from stores                             280
Groceries                                                      280
Total other products                                           280
Pre-trip expenses                                              280
Convention fees                                                280
Travel services                                                280
Recreation and entertainment                                   280
Total other tourism products                                   280
Meals and alcoholic beverages from other tourism industries    280
Alcoholic beverages from restaurants                           280
Alcoholic beverages from accommodation                         280
Meals from restaurants                                         280
Meals from accommodation                                       280
Total food and beverage services                               280
Other accommodation                                            280
Camping                                                        280
Motels                                                         280
Hotels                                                         280
Total accommodation                                            280
Vehicle fuel                                                   280
Vehicle repairs and parts                                      280
Vehicle rental                                                 280
Taxis                                                          280
Interurban, charter and tour bus transport                     280
Passenger water transport                                      280
Passenger rail transport                                       280
Passenger air transport                                        280
Total transportation                                           280
Miscellaneous products                                         280
Name: Products, dtype: int64

In [51]:
#same as above but I will only be focusing on Domestic vs Interprovincial demand rows
df1.Indicators.value_counts()

Total domestic supply               896
Total demand                        896
Domestic demand                     896
Exports                             896
Interprovincial demand (exports)    896
International demand (exports)      896
Imports                             896
Interprovincial imports             896
International imports               896
Tourism product ratio               896
Name: Indicators, dtype: int64

### TASK 2 - Analysis Pipeline

#### 2.1 Load Data

In [53]:
#This was loaded in the EDA but will reprint here 
df1

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,2016A000262,Tourism product ratio,Total other products,Percentage,242,millions,6,v1001805466,14.10.28,0.2,NaN,NaN,NaN,1
8956,2017,Nunavut,2016A000262,Tourism product ratio,Groceries,Percentage,242,millions,6,v1001805467,14.10.29,8.4,NaN,NaN,NaN,1
8957,2017,Nunavut,2016A000262,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,6,v1001805468,14.10.30,9.0,NaN,NaN,NaN,1
8958,2017,Nunavut,2016A000262,Tourism product ratio,Urban transit and parking,Percentage,242,millions,6,v1001805469,14.10.31,NaN,..,NaN,NaN,1
8959,2017,Nunavut,2016A000262,Tourism product ratio,Miscellaneous products,Percentage,242,millions,6,v1001805470,14.10.32,0.0,NaN,NaN,NaN,1

#### 2.2 Clean Data

In [61]:
#First I will remove columns not being used, and rows columns 13/14 with all null values using the .drop() function with inplace = True will keep the columns deleted whenever I refer to df 
df1.drop(columns=['DGUID','SCALAR_ID','VECTOR','COORDINATE','STATUS','DECIMALS'], axis=1, inplace = True)

In [63]:
df1.drop(columns=['SYMBOL','TERMINATED'],axis=1,inplace = True)

In [64]:
df1

,REF_DATE,GEO,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,VALUE
0,2014,Canada,Total domestic supply,Total tourism expenditures,Dollars,81,millions,3654954.0
1,2014,Canada,Total domestic supply,Total tourism products,Dollars,81,millions,212829.4
2,2014,Canada,Total domestic supply,Total transportation,Dollars,81,millions,98108.0
3,2014,Canada,Total domestic supply,Passenger air transport,Dollars,81,millions,19961.5
4,2014,Canada,Total domestic supply,Passenger rail transport,Dollars,81,millions,309.6
...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,Tourism product ratio,Total other products,Percentage,242,millions,0.2
8956,2017,Nunavut,Tourism product ratio,Groceries,Percentage,242,millions,8.4
8957,2017,Nunavut,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,9.0
8958,2017,Nunavut,Tourism product ratio,Urban transit and parking,Percentage,242,millions,NaN
8959,2017,Nunavut,Tourism product ratio,Miscellaneous products,Percentage,242,millions,0.0