# Emily Harvey

## Research question/interests

It would be cool to see how much of the money made overall in Canada to do with tourism came from BC and the breakdown of which categories within tourism BC makes the most money in. As well as overall growth of tourism in Canada and BC from 2014-2017.

In [1]:
import pandas as pd 
pd.read_csv('../data/raw/tourism.csv')

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,2016A000262,Tourism product ratio,Total other products,Percentage,242,millions,6,v1001805466,14.10.28,0.2,NaN,NaN,NaN,1
8956,2017,Nunavut,2016A000262,Tourism product ratio,Groceries,Percentage,242,millions,6,v1001805467,14.10.29,8.4,NaN,NaN,NaN,1
8957,2017,Nunavut,2016A000262,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,6,v1001805468,14.10.30,9.0,NaN,NaN,NaN,1
8958,2017,Nunavut,2016A000262,Tourism product ratio,Urban transit and parking,Percentage,242,millions,6,v1001805469,14.10.31,NaN,..,NaN,NaN,1
8959,2017,Nunavut,2016A000262,Tourism product ratio,Miscellaneous products,Percentage,242,millions,6,v1001805470,14.10.32,0.0,NaN,NaN,NaN,1

## Milestone 3: EDA

In [3]:
#Importing Libraries
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.python as plt
import missingno
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib.python'