# Emily Harvey

## Research question/interests

It would be cool to see how much of the money made overall in Canada had to do with tourism from BC and the breakdown of which categories within tourism BC makes the most money in. As well as overall growth of tourism in Canada and BC from 2014-2017.

In [1]:
import pandas as pd 
pd.read_csv('../data/raw/tourism.csv')

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,2016A000262,Tourism product ratio,Total other products,Percentage,242,millions,6,v1001805466,14.10.28,0.2,NaN,NaN,NaN,1
8956,2017,Nunavut,2016A000262,Tourism product ratio,Groceries,Percentage,242,millions,6,v1001805467,14.10.29,8.4,NaN,NaN,NaN,1
8957,2017,Nunavut,2016A000262,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,6,v1001805468,14.10.30,9.0,NaN,NaN,NaN,1
8958,2017,Nunavut,2016A000262,Tourism product ratio,Urban transit and parking,Percentage,242,millions,6,v1001805469,14.10.31,NaN,..,NaN,NaN,1
8959,2017,Nunavut,2016A000262,Tourism product ratio,Miscellaneous products,Percentage,242,millions,6,v1001805470,14.10.32,0.0,NaN,NaN,NaN,1

## Milestone 3: EDA

In [2]:
#Importing Libraries
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import missingno
import pandas as pd 
%matplotlib inline

In [3]:
df = pd.read_csv('../data/raw/tourism.csv')

# Simple Preview and Stats of Data
# Shows column names, non-null count, and Dtype
# Shows us that columns 13 and 14 only have null numbers and need to be deleted.
# Also shows that the most common Dtype in our data are objects
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8960 entries, 0 to 8959
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       8960 non-null   int64
 1   GEO            8960 non-null   object
 2   DGUID          8960 non-null   object
 3   Indicators     8960 non-null   object
 4   Products       8960 non-null   object
 5   UOM            8960 non-null   object
 6   UOM_ID         8960 non-null   int64
 7   SCALAR_FACTOR  8960 non-null   object
 8   SCALAR_ID      8960 non-null   int64
 9   VECTOR         8960 non-null   object
 10  COORDINATE     8960 non-null   object
 11  VALUE          7521 non-null   float64
 12  STATUS         1439 non-null   object
 13  SYMBOL         0 non-null      float64
 14  TERMINATED     0 non-null      float64
 15  DECIMALS       8960 non-null   int64
dtypes: float64(3), int64(4), object(9)
memory usage: 1.1+ MB

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1

In [4]:
# summary stats table
df.describe().T

,count,mean,std,min,25%,50%,75%,max
REF_DATE,8960.0,2015.500000,1.500084,2014.0,2014.0,2015.5,2017.0,2017.0
UOM_ID,8960.0,97.100000,48.302696,81.0,81.0,81.0,81.0,242.0
SCALAR_ID,8960.0,6.000000,0.000000,6.0,6.0,6.0,6.0,6.0
VALUE,7521.0,6809.351509,112809.280902,0.0,5.6,37.9,239.6,3910989.7
SYMBOL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TERMINATED,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DECIMALS,8960.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0

In [ ]:
# generate preview of entries with null values
if df.isnull().any(axis=None):
    print("\nPreview of data with null values:\n")
    print(df[df.isnull().any(axis=1)].head(5))
    missingno.matrix(df)
    plt.show()

# Shows us that there are only null values in the SYMBOL & TERMINATED columns and many null values in the STATUS and VALUE columns
# Both the status, symbol, & terminated columns are not being used in the analysis so can be deleted as well
# We also need to get rid of the rows with the unknown values

In [ ]:
#checking for duplicated entries
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

In [ ]:
#tells us how many unique values there are in our dataframe
df.nunique(axis=0)

#further helps us decide which columns to get rid of as they are not useful

In [ ]:
#looking at the unique values of the products
df.Products.unique()
#gives us a list of the values in the products column