# Alyssa Hughes

## Research question/interests

 As I live in a province with a lot of tourism surrounding cities like Kelowna and Vancouver I want to explore different growth rates within tourism.
Where are the majority of BCs tourists coming from: domestically or out-of-province?
What is BCs overall tourism growth rate from 2014-2017 compared to Canada' 2014-2017 growth rate?

import pandas as pd 
df = pd.read_csv("../data/raw/tourism.csv")
df

## Milestone 3 - Data Analysis

### TASK 1 - Exploratory Data Analysis

In [57]:
#importing libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [63]:
#summary stats table for df
df.describe().T

,count,mean,std,min,25%,50%,75%,max
REF_DATE,8960.0,2015.500000,1.500084,2014.0,2014.0,2015.5,2017.0,2017.0
UOM_ID,8960.0,97.100000,48.302696,81.0,81.0,81.0,81.0,242.0
SCALAR_ID,8960.0,6.000000,0.000000,6.0,6.0,6.0,6.0,6.0
VALUE,7521.0,6809.351509,112809.280902,0.0,5.6,37.9,239.6,3910989.7
SYMBOL,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TERMINATED,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DECIMALS,8960.0,1.000000,0.000000,1.0,1.0,1.0,1.0,1.0

In [ ]:
#exploring the number of rows and columns - I will need to get rid of many rows for my research question
df.shape

(8960, 16)

In [ ]:
#viewing first five rows/ I will also want to change heading names them easier to understand
df.head()

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1

In [64]:
#viewing names of all the columns and realising there are many columns to get rid of in cleaning
print(df.columns)

Index(['REF_DATE', 'GEO', 'DGUID', 'Indicators', 'Products', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [65]:
#This function helps me determine that of my 16 rows, 3= floats(decimal integer) int(whole numbers) = 4, and object rows (usually word variables) = 9
#It also shows me columns 13/14 have all null values and can deleted. I can also try to remove missing some missing values in row 11/12
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8960 entries, 0 to 8959
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   REF_DATE       8960 non-null   int64
 1   GEO            8960 non-null   object
 2   DGUID          8960 non-null   object
 3   Indicators     8960 non-null   object
 4   Products       8960 non-null   object
 5   UOM            8960 non-null   object
 6   UOM_ID         8960 non-null   int64
 7   SCALAR_FACTOR  8960 non-null   object
 8   SCALAR_ID      8960 non-null   int64
 9   VECTOR         8960 non-null   object
 10  COORDINATE     8960 non-null   object
 11  VALUE          7521 non-null   float64
 12  STATUS         1439 non-null   object
 13  SYMBOL         0 non-null      float64
 14  TERMINATED     0 non-null      float64
 15  DECIMALS       8960 non-null   int64
dtypes: float64(3), int64(4), object(9)
memory usage: 1.1+ MB

In [66]:
#Checking if there are any duplicates of Data to be cleaned
if len(df[df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(df[df.duplicated()]))
    print(df[df.duplicated(keep=False)].sort_values(by=list(df.columns)).head())
else:
    print("No duplicated entries found")

No duplicated entries found

In [67]:

#get counts of each variable value - From here I have list of the possible expenditures in the Products Column
#My research question only focuses on Total tourism expenditures and products rows
df.Products.value_counts()

Total tourism expenditures            280
Total tourism products                280
Urban transit and parking             280
Beer, wine, and liquor from stores    280
Groceries                             280
                                     ...
Passenger water transport             280
Passenger rail transport              280
Passenger air transport               280
Total transportation                  280
Miscellaneous products                280
Name: Products, Length: 32, dtype: int64

In [68]:
#same as above but I will only be focusing on Domestic vs Interprovincial demand rows
df.Indicators.value_counts()

Total domestic supply               896
Total demand                        896
Domestic demand                     896
Exports                             896
Interprovincial demand (exports)    896
International demand (exports)      896
Imports                             896
Interprovincial imports             896
International imports               896
Tourism product ratio               896
Name: Indicators, dtype: int64

### TASK 2 - Analysis Pipeline

#### 2.1 Load Data

In [6]:
#This was loaded in the EDA but will reprint here 
import numpy as np
import pandas as pd
import seaborn as sns
df1 = pd.read_csv("../data/raw/tourism.csv")
pd.set_option('display.max_rows', 10)
df1

,REF_DATE,GEO,DGUID,Indicators,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2014,Canada,2016A11124,Total domestic supply,Total tourism expenditures,Dollars,81,millions,6,v1001801179,1.1.1,3654954.0,NaN,NaN,NaN,1
1,2014,Canada,2016A11124,Total domestic supply,Total tourism products,Dollars,81,millions,6,v1001801180,1.1.2,212829.4,NaN,NaN,NaN,1
2,2014,Canada,2016A11124,Total domestic supply,Total transportation,Dollars,81,millions,6,v1001801181,1.1.3,98108.0,NaN,NaN,NaN,1
3,2014,Canada,2016A11124,Total domestic supply,Passenger air transport,Dollars,81,millions,6,v1001801182,1.1.4,19961.5,NaN,NaN,NaN,1
4,2014,Canada,2016A11124,Total domestic supply,Passenger rail transport,Dollars,81,millions,6,v1001801183,1.1.5,309.6,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8955,2017,Nunavut,2016A000262,Tourism product ratio,Total other products,Percentage,242,millions,6,v1001805466,14.10.28,0.2,NaN,NaN,NaN,1
8956,2017,Nunavut,2016A000262,Tourism product ratio,Groceries,Percentage,242,millions,6,v1001805467,14.10.29,8.4,NaN,NaN,NaN,1
8957,2017,Nunavut,2016A000262,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,242,millions,6,v1001805468,14.10.30,9.0,NaN,NaN,NaN,1
8958,2017,Nunavut,2016A000262,Tourism product ratio,Urban transit and parking,Percentage,242,millions,6,v1001805469,14.10.31,NaN,..,NaN,NaN,1
8959,2017,Nunavut,2016A000262,Tourism product ratio,Miscellaneous products,Percentage,242,millions,6,v1001805470,14.10.32,0.0,NaN,NaN,NaN,1

#### 2.2 Clean Data

In [11]:
#First I will remove columns not being used, and rows columns 13/14 with all null values using the .drop() function with inplace = True will keep the columns deleted whenever I refer to df 
df1.drop(columns=['DGUID','SCALAR_ID','VECTOR','COORDINATE','STATUS','DECIMALS','SYMBOL','TERMINATED','UOM_ID'], axis=1, inplace = True)

KeyError: "['DGUID' 'SCALAR_ID' 'VECTOR' 'COORDINATE' 'STATUS' 'DECIMALS' 'SYMBOL'\n 'TERMINATED' 'UOM_ID'] not found in axis"

In [10]:
df1

,REF_DATE,GEO,Indicators,Products,UOM,SCALAR_FACTOR,VALUE
0,2014,Canada,Total domestic supply,Total tourism expenditures,Dollars,millions,3654954.0
1,2014,Canada,Total domestic supply,Total tourism products,Dollars,millions,212829.4
2,2014,Canada,Total domestic supply,Total transportation,Dollars,millions,98108.0
3,2014,Canada,Total domestic supply,Passenger air transport,Dollars,millions,19961.5
4,2014,Canada,Total domestic supply,Passenger rail transport,Dollars,millions,309.6
...,...,...,...,...,...,...,...
8955,2017,Nunavut,Tourism product ratio,Total other products,Percentage,millions,0.2
8956,2017,Nunavut,Tourism product ratio,Groceries,Percentage,millions,8.4
8957,2017,Nunavut,Tourism product ratio,"Beer, wine, and liquor from stores",Percentage,millions,9.0
8958,2017,Nunavut,Tourism product ratio,Urban transit and parking,Percentage,millions,NaN
8959,2017,Nunavut,Tourism product ratio,Miscellaneous products,Percentage,millions,0.0

In [58]:
#Next I will figure out how to drop thousands of rows that aren't for Canada/BC for years 2014 & 2017.
#Note i have already tried using the df2=df1.drop(df1.index[643:1602],axis=0,inplace=True) for example,
#by manually deleting large chunks of rows I dont need (I need 4 chunks of data rows and need to delete all the rows 
#inbtween the 4 chunks.
#But it was too tedious and my end result wasn't perfect and the new indexes jumped from 300 for example to 1500
#therefor I will come ask and come back if I find an easier way and update this.

In [31]:
df2=df1.sort_values("GEO")        
#as per last comment I am still trying to delete rows but have now sorted the GEO
#so now i have canada 2014/17 together as well as bc 2014/17 so there are two chunks of data i need and two chunks to delete
#instead of four but the indice numbers are all mixed up so it would be hard to .drop(indice to indice) 
df2

,REF_DATE,GEO,Indicators,Products,UOM,SCALAR_FACTOR,VALUE
7519,2017,Alberta,Interprovincial demand (exports),Miscellaneous products,Dollars,millions,217.0
2981,2014,Alberta,Exports,Passenger water transport,Dollars,millions,0.1
2982,2014,Alberta,Exports,"Interurban, charter and tour bus transport",Dollars,millions,76.5
2983,2014,Alberta,Exports,Taxis,Dollars,millions,19.9
2984,2014,Alberta,Exports,Vehicle rental,Dollars,millions,134.0
...,...,...,...,...,...,...,...
8219,2017,Yukon,Imports,Total other products,Dollars,millions,21.3
8220,2017,Yukon,Imports,Groceries,Dollars,millions,NaN
8221,2017,Yukon,Imports,"Beer, wine, and liquor from stores",Dollars,millions,NaN
8243,2017,Yukon,Interprovincial imports,Alcoholic beverages from accommodation,Dollars,millions,0.6
3835,2014,Yukon,Tourism product ratio,Total other products,Percentage,millions,0.8

In [ ]:
#Dealing with missing values. The only column with Nan values left is the value column, which is important.
#I will set Nan to 0 so it doesnt interupt calculations etc.

#### 2.3 Process Data

#### 2.4 Wrangle Data

In [42]:
#not sure if this is processing or wrangline but here I will rename column names so they are eassier to understand
df1 = df1.rename(columns = {
               'REF_DATE': "Year",
               'GEO': "Location",
               'UOM':"Measure",
               'VALUE':"Value",
               'SCALAR_FACTOR': "Scale"
              })     
df1.head()

,Year,Location,Indicators,Products,Measure,Scaled_by,Value
0,2014,Canada,Total domestic supply,Total tourism expenditures,Dollars,millions,3654954.0
1,2014,Canada,Total domestic supply,Total tourism products,Dollars,millions,212829.4
2,2014,Canada,Total domestic supply,Total transportation,Dollars,millions,98108.0
3,2014,Canada,Total domestic supply,Passenger air transport,Dollars,millions,19961.5
4,2014,Canada,Total domestic supply,Passenger rail transport,Dollars,millions,309.6